<main class="mainView">
  <h2>Productos en la base de datos</h2>
  <section class="viewContainer">
    {{#if contenido}}
      {{#each products}}
        <article class="view">
          <img src="{{this.url}}" alt="{{this.title}}" class="imgView" />
          <h3>Titulo: {{this.title}}</h3>
          <h3>Precio: {{this.price}}</h3>
        </article>
      {{/each}}
    {{else}}
      No hay productos
    {{/if}}
  </section>
  <a href="/" class="enviar">Agregar Productos</a>

</main>